* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Qatar2022";
  src: url("../assets/fonts/Qatar2022.woff2");
}
ul {
  list-style-type: none;
  text-decoration: none;
}

.header {
  font-family: "Qatar2022";
  background-color: rgb(74, 2, 24);
  display: flex;
  flex-direction: row;
}

.header__div {
  display: flex;
  flex-direction: row;
  padding: 0 0 3px 3px;
}
.header__div img {
  width: 10vw;
}

.header__div--nav {
  display: flex;
  flex-direction: column;
  width: 85vw;
  color: white;
  text-align: center;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
}
.header__div--nav h1 {
  margin: 2vw 0;
  padding: 0;
}
.header__div--nav nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li {
  display: flex;
  flex-direction: row;
}
.navbar ul {
  width: 100%;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.foot {
  font-family: "Qatar2022";
  background-color: rgb(74, 2, 24);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.foot__div {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot__div ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot__div--ul li {
  padding-top: 20px;
  padding-bottom: 10px;
}
.foot__div--ul a {
  color: white;
  text-decoration: none;
  font-size: large;
}
.foot__div--ul a:hover {
  color: black;
}

.foot__div--h3 {
  text-decoration: underline;
  font-size: x-large;
  color: white;
  text-align: center;
}

.foot__div--ubicacion {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot__div--ubicacion iframe {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Qatar2022";
  color: white;
  background-color: rgb(155, 13, 53);
}

.content {
  display: flex;
  flex-direction: column;
}

.content__article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid rgb(74, 2, 24) 2px;
  margin: 0.5vw;
}
.content__article img {
  width: 100%;
  height: auto;
}

.content__article--div {
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content__article--div a {
  display: flex;
  font-family: "Qatar2022";
  font-size: xx-large;
  text-decoration: none;
  color: white;
  justify-content: center;
  text-align: center;
}
.content__article--div a:hover {
  color: black;
  text-decoration: underline;
}
.content__article--div p {
  display: flex;
  font-family: "Qatar2022";
  font-size: x-large;
  color: white;
  text-align: justify;
  margin: 0 25px 0px 25px;
}

.content__article--img {
  padding: 10px;
  width: 40%;
}

.carousel {
  margin: 3vw 10vw;
}

.carousel-caption {
  background-color: rgba(202, 31, 88, 0.8);
  font-family: "Qatar2022";
  font-size: x-large;
  color: rgb(255, 255, 255);
}

/* config de tarjetas */
.content__div {
  font-family: "Qatar2022";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid rgb(74, 2, 24) 2px;
  padding: 1vw;
  margin: 0.5vw;
}
.content__div a {
  text-decoration: none;
  color: rgb(128, 122, 122);
}
.content__div a:hover {
  text-decoration: underline;
  color: black;
}
.content__div h2 {
  text-align: justify;
  text-decoration: underline;
  font-size: xx-large;
  color: white;
  margin: 5px 0 10px 0;
}
.content__div p {
  font-family: "Qatar2022";
  font-size: x-large;
  text-align: justify;
  color: white;
  margin: 0px 30px 0px 15px;
}

a:not([href]):not([class]) {
  color: white;
}

.content__section {
  font-family: "Qatar2022";
  display: flex;
  flex-direction: column;
  border: solid rgb(74, 2, 24) 2px;
  margin: 0.5vw;
}
.content__section h2 {
  text-decoration: underline;
  font-size: xx-large;
  color: white;
  text-align: center;
  margin: 5px 0 10px 0;
}
.content__section .content__section--div {
  display: flex;
  flex-direction: row;
}
.content__section .content__section--left {
  width: 50vw;
  margin: 0 0 0 10px;
}
.content__section .content__section--left .content__section--list1 {
  width: 50%;
  display: flex;
  align-items: start;
}
.content__section .content__section--left .content__section--list1 ul {
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0;
  margin: 0 0 0 10px;
}
.content__section .content__section--right {
  justify-content: end;
  width: 50vw;
}
.content__section .content__section--right .content__section--list2 {
  width: 50%;
}
.content__section .content__section--right .content__section--list2 ul {
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 10px 0;
}
.content__section .content__section--img {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.content__section .content__section--img img {
  width: 90%;
}
.content__section .content__section--img h3 {
  margin: 10px 0;
  color: white;
  font-size: xx-large;
}
.content__section .content__section--img h3 a {
  text-decoration: none;
  color: white;
}
.content__section .content__section--img h3 a:hover {
  text-decoration: underline;
  color: black;
}

.form_7 {
  font-family: "Qatar2022";
  margin: 1vw;
}
.form_7 label {
  color: black;
}

.form-floating > .coment__box {
  height: 20vw;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botones input {
  margin: 4vw;
  width: 40%;
}

.seleccion {
  padding: 1vw;
  display: flex;
  flex-direction: row;
}
.seleccion .equipo {
  width: 60vw;
}
.seleccion .equipo h2 {
  font-size: x-large;
}
.seleccion .equipo .dt {
  margin: 2vw;
  font-family: "Qatar2022";
  color: white;
  display: flex;
  justify-content: center;
}
.seleccion .equipo .dt div {
  display: flex;
  width: 40vw;
  background-color: rgb(74, 2, 24);
  border-radius: 20px;
}
.seleccion .equipo .dt div img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.seleccion .equipo .dt div .name {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}
.seleccion .equipo .dt div p {
  display: flex;
  justify-content: flex-end;
}
.seleccion .equipo .arq {
  padding: 0.5vw;
  background-color: rgba(4, 192, 4, 0.4);
  height: 20vw;
  display: flex;
  justify-content: center;
}
.seleccion .equipo .arq div {
  display: flex;
  flex-direction: column;
  width: 14vw;
  text-align: center;
  align-items: center;
}
.seleccion .equipo .arq div img {
  border-radius: 20px;
  width: 70%;
}
.seleccion .equipo .l2 {
  padding: 0.5vw;
  background-color: rgba(4, 192, 4, 0.5);
  height: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.seleccion .equipo .l2 div {
  margin: 0 6vw 0;
  display: flex;
  flex-direction: column;
  width: 14vw;
  text-align: center;
  align-items: center;
}
.seleccion .equipo .l2 div img {
  border-radius: 20px;
  width: 70%;
}
.seleccion .equipo .l5 {
  padding: 0.5vw;
  background-color: rgba(4, 192, 4, 0.5);
  height: 30vw;
  display: flex;
  flex-direction: row;
}
.seleccion .equipo .l5 div {
  display: flex;
  flex-direction: column;
  width: 14vw;
  text-align: center;
  align-items: center;
}
.seleccion .equipo .l5 div img {
  border-radius: 20px;
  width: 80%;
}
.seleccion .equipo .l5 .bot {
  justify-content: flex-end;
}
.seleccion .equipo .l5 .cen {
  justify-content: center;
}
.seleccion .equipo .l3 {
  padding: 0.5vw;
  background-color: rgba(4, 192, 4, 0.4);
  height: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.seleccion .equipo .l3 div {
  margin: 0 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  width: 14vw;
  text-align: center;
  align-items: center;
}
.seleccion .equipo .l3 div img {
  border-radius: 20px;
  width: 70%;
}
.seleccion .equipo .l3 .bot {
  justify-content: flex-end;
}
.seleccion .fich_tec {
  padding: 1vw;
  width: 40vw;
}
.seleccion .fich_tec .accordion-body {
  background-color: rgb(155, 13, 53);
  padding-left: 5vw;
}
.seleccion .fich_tec .accordion-body p {
  font-size: xx-large;
}
.seleccion .fich_tec .accordion-body iframe {
  height: 300px;
  width: 100%;
}
.seleccion .fich_tec .accordion-body ul {
  padding: 0;
  font-size: x-large;
}
.seleccion .fich_tec .accordion-body ul li {
  margin: 1vw 0 0 0;
}
.seleccion .fich_tec .accordion-body ul li i {
  margin: 0px;
}
.seleccion .fich_tec .accordion-body ul .in {
  padding: 0 0 0 10px;
}
.seleccion .fich_tec .accordion-body ul .in li {
  margin: 0;
}
.seleccion .fich_tec .accordion-body ul .in i {
  margin: 5px;
}
.seleccion .accordion-button,
.seleccion .accordion-button:not(.collapsed) {
  color: white;
  background-color: rgb(74, 2, 24);
}
.seleccion .accordion-button:focus {
  border-color: rgb(74, 2, 24);
  box-shadow: 0 0 0 2px white;
}
.seleccion .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.est h2 {
  margin: 0vw;
}
.est h1 {
  margin: 2vw;
  text-align: center;
}
.est .contenedor {
  padding: 1vw;
}
.est .contenedor .card {
  border: 3px solid rgb(74, 2, 24);
  width: 100%;
  background-color: rgb(74, 2, 24);
}
.est .contenedor .card img {
  width: 60%;
}
.est .contenedor .card .card-body {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  background-color: rgb(155, 13, 53);
}
.est .contenedor .card .card-body .imagen {
  width: 40%;
}
.est .contenedor .card .card-body .imagen img {
  border-radius: 20px;
  width: 100%;
}
.est .contenedor .card .card-body .imagen h2 {
  margin: 2vw 0 0 0;
}
.est .contenedor .card .card-body .imagen iframe {
  border: 5px solid rgb(74, 2, 24);
  width: 100%;
}
.est .contenedor .card .card-body .texto {
  padding: 1vw 0 0 2vw;
  width: 60%;
}
.est .contenedor .card .card-body .texto p {
  text-align: justify;
}
.est .contenedor .card .card-body .texto h2,
.est .contenedor .card .card-body .texto h3 {
  text-align: start;
  font-size: xx-large;
  padding: 0;
}
.est .contenedor .card .card-body .texto ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.5vw 0vw 0 0.5vw;
}
.est .contenedor .card .card-body .texto ul a {
  text-align: start;
  text-decoration: none;
  color: white;
  font-size: large;
}
.est .contenedor .card .card-body .texto ul a:hover {
  color: black;
}

.unlink {
  color: black;
}

@media (max-width: 1366px) {
  .seleccion .equipo .arq h2,
  .seleccion .equipo .l2 h2,
  .seleccion .equipo .l5 h2,
  .seleccion .equipo .l3 h2 {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .header__div--nav {
    font-size: xx-large;
  }
  h2 {
    font-size: 20px;
  }
  .seleccion .equipo .arq h2,
  .seleccion .equipo .l2 h2,
  .seleccion .equipo .l5 h2,
  .seleccion .equipo .l3 h2 {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .carousel {
    margin: 1vw;
  }
  .header__div--nav {
    flex-direction: row;
    font-size: x-large;
  }
  .header__div img {
    display: none;
  }
  .header__div--nav h1 {
    width: 60vw;
    font-size: xx-large;
  }
  .header__div--nav nav {
    width: 40vw;
  }
  .content__article {
    flex-direction: column;
    align-items: center;
  }
  .content__article--img {
    width: 60vw;
    align-items: center;
  }
  .content__article--div {
    width: 100vw;
  }
  .content__section {
    justify-content: center;
  }
  .content__section .content__section--div {
    flex-direction: column;
    justify-content: center;
  }
  .content__section .content__section--div .content__section--left,
  .content__section .content__section--div .content__section--right {
    margin: 1vw;
    width: 95vw;
    flex-direction: row;
  }
  .content__section .content__section--div .content__section--left .content__section--img,
  .content__section .content__section--div .content__section--right .content__section--img {
    width: 50vw;
  }
  .content__section .content__section--div .content__section--left .content__section--list1,
  .content__section .content__section--div .content__section--left .content__section--list2,
  .content__section .content__section--div .content__section--right .content__section--list1,
  .content__section .content__section--div .content__section--right .content__section--list2 {
    justify-content: center;
    width: 40vw;
  }
  .seleccion {
    flex-direction: column;
    padding: 0;
  }
  .seleccion .equipo {
    width: 100vw;
  }
  .seleccion .equipo h2 {
    font-size: 19px;
  }
  .seleccion .equipo .dt div {
    display: flex;
    width: 60vw;
  }
  .seleccion .equipo .arq,
  .seleccion .equipo .l2 {
    height: 22vw;
  }
  .seleccion .equipo .l5 {
    height: 35vw;
    justify-content: center;
  }
  .seleccion .equipo .l5 div {
    width: 14vw;
    margin: 0 3vw 0 3vw;
  }
  .seleccion .equipo .l5 div img {
    width: 80%;
  }
  .seleccion .fich_tec {
    width: 100vw;
  }
}
@media (max-width: 720px) {
  .foot {
    flex-direction: column;
  }
  .foot__div {
    align-items: center;
    flex-direction: row;
  }
  .foot__div--h3 {
    width: 50vw;
  }
  .foot__div--ul {
    border: solid 3px white;
    width: 50vw;
  }
  .seleccion .equipo .dt div {
    display: flex;
    width: 60vw;
  }
  .seleccion .equipo .arq,
  .seleccion .equipo .l2 {
    height: 25vw;
  }
  .seleccion .equipo .arq h2,
  .seleccion .equipo .l2 h2,
  .seleccion .equipo .l5 h2,
  .seleccion .equipo .l3 h2 {
    font-size: 19px;
  }
  .seleccion .equipo .arq a,
  .seleccion .equipo .l2 a,
  .seleccion .equipo .l5 a,
  .seleccion .equipo .l3 a {
    font-size: x-large;
  }
  .seleccion .equipo .l3 div {
    margin: 0 5vw 0 5vw;
  }
}
@media (max-width: 540px) {
  .carousel {
    margin: 2vw 0vw;
  }
  .header__div--nav {
    width: 95vw;
    flex-direction: column;
    font-size: x-large;
  }
  .header__div--nav h1 {
    font-size: xx-large;
  }
  .header__div--nav nav {
    width: 100%;
    justify-content: left;
  }
  .content__article--img {
    width: 100vw;
    align-items: center;
  }
  .content__section--img {
    width: 70vw;
  }
  .content__section--list1,
  .content__section--list2 {
    width: 30vw;
  }
  .content__article--div {
    width: 100vw;
  }
  .seleccion .equipo .dt div {
    display: flex;
    width: 90vw;
  }
  .seleccion .equipo .arq h2,
  .seleccion .equipo .l2 h2,
  .seleccion .equipo .l5 h2,
  .seleccion .equipo .l3 h2 {
    font-size: 17px;
  }
}

/*# sourceMappingURL=styles.css.map */
