@import "links";

//reseteo
* {
    margin: 0;
    padding: 0;
}

//declaracion de fuente
@font-face {
    font-family: "Qatar2022";
    src: url("../assets/fonts/Qatar2022.woff2");
}

ul {
    list-style-type: none;
    text-decoration: none;
}

//header
.header {
    font-family: "Qatar2022";
    background-color: rgb(74, 2, 24);
    display: flex;
    flex-direction: row;
}

.header__div {
    display: flex;
    flex-direction: row;

    padding: 0 0 3px 3px;

    img {
        width: 10vw;
    }
}

.header__div--nav {
    display: flex;
    flex-direction: column;
    width: 85vw;
    color: white;
    text-align: center;
    font-size: xx-large;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 2vw 0;
        padding: 0;
    }

    nav {
        margin: 0;
        padding: 0;
        width: 100%;
    }

}

.navbar {

    li {
        display: flex;
        flex-direction: row;
    }

    ul {
        width: 100%;
        justify-content: space-between;
    }
}

//configuracion del color de letra y botones del nav
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-light .navbar-toggler-icon {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

//footer
.foot {
    font-family: "Qatar2022";
    background-color: rgb(74, 2, 24);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foot__div {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.foot__div--ul {
    li {
        padding-top: 20px;
        padding-bottom: 10px;
    }


    a {
        color: white;
        text-decoration: none;
        font-size: large;
    }
}

.foot__div--h3 {
    text-decoration: underline;
    font-size: x-large;
    color: white;
    text-align: center;
}

.foot__div--ubicacion {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    iframe {
        width: 100%;
        height: 100%;
    }
}

//configuracion del main
body {
    font-family: "Qatar2022";
    color: white;
    background-color: rgb(155, 13, 53);
}

.content {

    display: flex;
    flex-direction: column;

}

.content__article {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid rgb(74, 2, 24) 2px;
    margin: 0.5vw;

    img {
        width: 100%;
        height: auto;
    }
}

.content__article--div {

    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    a {

        display: flex;
        font-family: "Qatar2022";
        font-size: xx-large;
        text-decoration: none;
        color: white;
        justify-content: center;
        text-align: center;

    }

    p {
        display: flex;
        font-family: "Qatar2022";
        font-size: x-large;
        color: white;
        text-align: justify;
        margin: 0 25px 0px 25px;
    }
}

.content__article--img {

    padding: 10px;

    width: 40%;

}

// configuracion del carrousel
.carousel {

    margin: 3vw 10vw;
}

.carousel-caption {
    background-color: rgba(202, 31, 88, 0.8);
    font-family: "Qatar2022";
    font-size: x-large;
    color: rgba(255, 255, 255, 1);
}

/* config de tarjetas */
.content__div {

    font-family: "Qatar2022";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(74, 2, 24) 2px;
    padding: 1vw;
    margin: 0.5vw;

    h2 {
        text-align: justify;
        text-decoration: underline;
        font-size: xx-large;
        color: white;
        margin: 5px 0 10px 0;

    }

    p {

        font-family: "Qatar2022";
        font-size: x-large;
        text-align: justify;
        color: white;
        margin: 0px 30px 0px 15px;

    }
}

a:not([href]):not([class]) {
    color: white;
}

.content__section {

    font-family: "Qatar2022";
    display: flex;
    flex-direction: column;
    border: solid rgb(74, 2, 24) 2px;
    margin: 0.5vw;

    h2 {

        text-decoration: underline;
        font-size: xx-large;
        color: white;
        text-align: center;
        margin: 5px 0 10px 0;

    }

    .content__section--div {

        display: flex;
        flex-direction: row;

    }

    .content__section--left {

        width: 50vw;
        margin: 0 0 0 10px;

        .content__section--list1 {

            width: 30%;
            display: flex;
            align-items: start;

            ul {

                color: white;
                font-size: large;
                display: flex;
                flex-direction: column;
                text-align: start;
                padding: 0;
                margin: 0 0 0 10px;

            }
        }

    }

    .content__section--right {

        justify-content: end;
        width: 50vw;


        .content__section--list2 {

            width: 30%;

            ul {

                color: white;
                font-size: large;
                display: flex;
                flex-direction: column;
                text-align: end;
                margin: 0 10px 0;

            }
        }
    }


    .content__section--img {

        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;

        img {

            width: 90%;

        }

        h3 {

            margin: 10px 0;
            color: white;
            font-size: xx-large;

        }
    }
}

.form_7 {
    font-family: "Qatar2022";
    margin: 1vw;

    label {
        color: black;
    }
}

.form-floating>.coment__box {
    height: 20vw;
}

.botones {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        margin: 4vw;
        width: 40%;
    }
}

//configuracion de selecciones

.seleccion {

    padding: 1vw;
    display: flex;
    flex-direction: row;

    .equipo {
        width: 60vw;

        .dt {
            margin: 2vw;
            font-family: "Qatar2022";
            color: white;
            display: flex;
            justify-content: center;


            div {
                display: flex;
                width: 40vw;
                background-color: rgb(74, 2, 24);
                border-radius: 20px;

                img {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                .name {
                    display: flex;
                    flex-direction: column;
                    margin: 1vw;
                }

                p {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        .arq {
            padding: 0.5vw;
            background-color: rgb(4, 192, 4, 0.4);
            height: 20vw;
            display: flex;
            justify-content: center;


            div {
                display: flex;
                flex-direction: column;
                width: 14vw;
                text-align: center;
                align-items: center;

                img {
                    border-radius: 20px;
                    width: 70%;
                }

            }

        }

        .l2 {
            padding: 0.5vw;
            background-color: rgb(4, 192, 4, 0.5);
            height: 20vw;
            display: flex;
            flex-direction: row;
            justify-content: center;

            div {
                margin: 0 6vw 0;
                display: flex;
                flex-direction: column;
                width: 14vw;
                text-align: center;
                align-items: center;

                img {
                    border-radius: 20px;
                    width: 70%;
                }
            }
        }

        .l5 {
            padding: 0.5vw;
            background-color: rgb(4, 192, 4, 0.5);
            height: 30vw;
            display: flex;
            flex-direction: row;


            div {
                display: flex;
                flex-direction: column;
                width: 14vw;
                text-align: center;
                align-items: center;

                img {
                    border-radius: 20px;
                    width: 80%;
                }
            }

            .bot {
                justify-content: flex-end;
            }

            .cen {
                justify-content: center;
            }
        }

        .l3 {
            padding: 0.5vw;
            background-color: rgb(4, 192, 4, 0.4);
            height: 30vw;
            display: flex;
            flex-direction: row;
            justify-content: center;

            div {
                margin: 0 2vw 0 2vw;
                display: flex;
                flex-direction: column;
                width: 14vw;
                text-align: center;
                align-items: center;

                img {
                    border-radius: 20px;
                    width: 70%;
                }
            }

            .bot {
                justify-content: flex-end;
            }
        }
    }

    .fich_tec {

        //background: linear-gradient(to bottom, rgb(5, 126, 5), rgb(0, 241, 0)); 
        padding: 1vw;
        width: 40vw;

        .accordion-body {
            background-color: $primary;
        }

        .accordion-button,
        .accordion-button:not(.collapsed) {
            color: $font;
            background-color: $secondary;

        }

        .accordion-button:focus {
            border-color: $secondary;
            box-shadow: 0 0 0 2px $font;
        }

        .accordion-button::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }


    }

}

//configuracion de Estadios

.est {
    
    h2{
        margin: 0vw;
    }

    h1{
        margin: 2vw;
        text-align: center;

    }
    .contenedor {

        padding: 1vw;

        .card{

            border: 3px solid $secondary;

            width: 100%;
            background-color: $secondary;
            img{
                
                width: 60%;

            }

            .card-body{
                padding: 1vw;
                display: flex;
                flex-direction: row;
                background-color: $primary;

                .imagen{
                    
                    width: 40%;
                    img{
                        border-radius: 20px;
                        width: 100%;
                    }
                    h2{
                        margin: 2vw 0 0 0;
                    }
                    iframe{
                        border: 5px solid $secondary;
                        width: 100%;
                        
                    }
                }

                .texto{
                    padding: 1vw 0 0 2vw;
                    width: 60%;
                    p{
                        text-align: justify;
                    }
                    h2, h3{
                        text-align: start;
                        font-size: xx-large;
                        padding: 0;
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        padding: 0.5vw 0vw 0 0.5vw;
                        
                        a{
                            text-align: start;
                            text-decoration: none;
                            color: white;
                            font-size: large;
                        }
                    }
                    
                }
                
            }
        }

    }
}

// configuracion del responsive 
@media (max-width: 1200px) {
    .header__div--nav {
        font-size: xx-large;
    }
}

@media (max-width: 992px) {

    .carousel {
        margin: 1vw;
    }

    .header__div--nav {
        flex-direction: row;
        font-size: x-large;
    }

    .header__div img {
        display: none;
    }

    .header__div--nav h1 {
        width: 60vw;
        font-size: xx-large;
    }

    .header__div--nav nav {
        width: 40vw;
    }

    .content__article {
        flex-direction: column;
        align-items: center;
    }

    .content__article--img {
        width: 60vw;
        align-items: center;
    }

    .content__article--div {
        width: 100vw;
    }


    .content__section {
        justify-content: center;

        .content__section--div {

            flex-direction: column;
            justify-content: center;



            .content__section--left,
            .content__section--right {
                margin: 1vw;
                width: 95vw;
                flex-direction: row;

                .content__section--img {
                    width: 50vw;
                }

                .content__section--list1,
                .content__section--list2 {
                    justify-content: center;
                    width: 40vw;

                    ul {
                        text-align: center;
                    }
                }
            }

        }

    }

    .seleccion {
        flex-direction: column;
        padding: 0;

        .equipo {
            width: 100vw;

            .dt {
                div {
                    display: flex;
                    width: 60vw;
                }
            }

            .arq,
            .l2 {
                height: 22vw;
            }

            .l5 {
                height: 35vw;
                justify-content: center;

                div {
                    width: 14vw;
                    margin: 0 3vw 0 3vw;

                    img {
                        width: 80%;
                    }
                }
            }
        }

        .fich_tec {
            width: 100vw;
        }
    }

}

@media (max-width: 720px) {
    .foot {
        flex-direction: column;
    }

    .foot__div {
        align-items: center;
        flex-direction: row;
    }

    .foot__div--h3 {
        width: 50vw;

    }

    .foot__div--ul {
        border: solid 3px white;
        width: 50vw;
    }

    .seleccion {
        .equipo {
            .dt {
                div {
                    display: flex;
                    width: 60vw;
                }
            }

            .arq,
            .l2 {
                height: 25vw;
            }

            .arq,
            .l2,
            .l5,
            .l3 {
                a {
                    font-size: x-large;
                }
            }

            .l3 {
                div{
                    margin: 0 5vw 0 5vw;
                }
            }
        }
    }
}

@media (max-width: 540px) {

    .carousel {
        margin: 2vw 0vw;
    }

    .header__div--nav {
        width: 95vw;
        flex-direction: column;
        font-size: x-large;
    }

    .header__div--nav h1 {
        font-size: xx-large;
    }

    .header__div--nav nav {
        width: 100%;
        justify-content: left;
    }

    .content__article--img {
        width: 100vw;
        align-items: center;
    }

    .content__section--img {
        width: 70vw;
    }

    .content__section--list1,
    .content__section--list2 {
        width: 30vw;
    }

    .content__article--div {
        width: 100vw;
    }

    .seleccion {
        .equipo {
            .dt {
                div {
                    display: flex;
                    width: 90vw;
                }
            }

            .arq,
            .l2,
            .l5,
            .l3 {
                h2 {
                    font-size: large;
                }
            }


        }
    }

}